<%- model_class = Paper -%>
<div class="page-header">
  <center><h1><%= @paper.name %></h1></center>
</div>
<br>
<%@paper.questions.each_with_index do |question,index| %>
  <%=index+1%>) <%=question.question%><br>
  <%ch=("a".ord-1).chr%>
  <%question.options.each do |option| %>
    &nbsp&nbsp&nbsp<%=ch=ch.next%>) <%=option.answer%>
    <%if option.is_correct%>✔
    <%end%><br>
  <%end%>
  <br>
<%end%> 

<%=link_to "Back",:back,:class => 'btn btn-default btn-sm-7'%>
<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_paper_path(@paper), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_paper_path(@paper), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>