<%- model_class = Test -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:paper) %>:</strong></dt>
  <dd><%= @test.paper.name+" ("+@test.paper_id.to_s+")" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
  <dd><%= @test.user.fname+" "+@test.user.lname+" ("+@test.user_id.to_s+")" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:marks) %>:</strong></dt>
  <dd><%= @test.marks %></dd>
</dl>
<%=link_to "Back", root_path, :class=> 'btn btn-default'%>